.header {
	font-size: 36px;
	text-align: center;
	/* border: 3px solid red; */
	font-family: Arial;
}

h1 {
	margin: 10px;
	font-weight: normal;
}

.container {
	width: 90%;
}

.left-nav {
	float: left;
	font-family: Arial;
	/*border: 3px solid orange; */
	width: 25%;
}

#topbar {
	/* border: 3px solid black; */
	padding: 20px;
	margin-left: 30px;
}

button {
	color: ;
	font-weight: bold;
	font-size: 18px;
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
}

button:hover {
	background-color: #E6E6FA;
}

.image {
	padding: 20px;
	text-align: center;
	/* border: 3px solid green; */
}

.description {
	margin: 1em;
}

p {
	display: inline-block;
	padding: 10px;
	/* border: 3px solid purple; */
}

canvas {
	display: block;
	margin: auto;
}

.canvas-body {
	width: 70%;
	margin: 0px;
	float: right;
}

#winner {
	position: fixed;
	top: 50%;
	left:50%;
	font-size: 100px;
	font-family: Arial;
}